<!DOCTYPE html>
<html>
  <head>
    <style>
    .body {
     background-size: cover;
     background-repeat: no-repeat;
     background-image: url(https://sbims.com/wp-content/uploads/2017/04/Association_Membership_Networking_Connections.jpg);
    }

     #navigation{
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body">
  <nav id="navigation" class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" style="color: white;">@ceBook

    <% if current_user %> -
      <%=current_user[:user_name]%> |
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, style:"color:white;"%>
      <span style="width: 80%;text-align: right; color:white; padding-right:5px;">
        <a style="color: white;" href="/walls">See other walls</a> -
        <a style="color: white;" href="/messges">Start chatting</a>
      </span>
    <% end %>
  </a>

</nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
